.wrapper {
    margin: 0 auto;
    width: min(1700px, calc(100% - 40px))
}
header {
    background-color: green;
    height: 100px;
}
.header-container {
    height: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo {
    font-weight: 600;
    font-size: 50px;
}

.profile-img {
    width: 80px;
    border-radius: 50%;
}

/* Main */

.search-container {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}